extends layout

block content
    div.block-content
        h1 ХЕЛО AM
            a(href="https://vk.com/id119467422") ЮРИИ
        div.img-container.not-printable
            img(src="images/MYPHOTO.jpg" width="220px")
        div.img-wrapper
            p   BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla
            p   bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla
            p   bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla	BLA bla bla bla bla

            hr
            p My favorite Bands and Rappers:
                ul
                    li System of a down
                    li Anacondaz
                    li Panic! At the Disco
                    li Bumble Buzzy
                    li ATL
