extends layout

block content
    div.block-content


        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        script(src='http://viz-js.com/bower_components/viz.js/viz.js')
        script(src='javascripts/JQuery.js')
        script(src='//d3js.org/d3.v3.min.js')
        script(src='javascripts/Graph.js')

