extends layout

block content
  div.block-content
    h2 Main Page
    div.block-text-content
      h2 Hello, it's my first web-site
      p.
         ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ
         ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ
         ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ ЗАЧЕТ ХОЧУ
    hr
    h3 Additional information
    ul
      li Urabbbc@yandex.ru
      li
        a(href="https://github.com/Meromen") https://github.com/Meromen


