extends layout

block content
    div.block-content
      h2 Poem
      div#poem-content

        p    Я черствый, как корка хлеба
        p    Несъедобный, как корка хлеба, в сытый лощеный год
        p    Я черный, как корка хлеба
        p    Я горький, как корка хлеба
        p    И вряд ли кто-то там ждет, где пьют вино и фрукты на обед
        p    Париж, Версаль, штукатурка падает со стен
        p    Косые крыши, мелкие домишки
        p    С балкончиков которых самый приобычный женский голос
        p    Звучит как пение сирен
        p    Цветастые, легки из сарафаны
        p    А мысли не просты как фотографии на пленку
        p    В краю веселых, беззаботных, пьяных, никто бокал свой не закусит хлебной коркой
        p    Но видимо сейчас, и видно здесь
        p    Я размакаю, чувствам мне не занимать
        p    Так если тебе нечего вдруг станет есть, в голодный год, я буду тебя ждать
        p.author Букер